
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <a href="https://i.pinimg.com/originals/91/dd/b8/91ddb8751920595dfde2515820730482.gif">click for picture</a>
</body>
